<div class="image"></div>
<div class="information">
	<span class="bold">Phone number</span><span class="phone">{{phone}}</span><br/>
	<span class="bold">Billing address</span><span class="address">{{address}}</span><br/>
	<span class="bold">E-bank</span><span class="email">{{ebank}}</span><br/>
</div>
<div class="invoices">
	<span class="title">Invoices</span>
	{{#each invoices}}
		<div class="invoice"><span class="from">{{this.from}}</span><span class="amount">{{this.amount}}</span><div>
	{{/each}}
</div>