<div id="backtoinvoices" class="back-button hidden" onclick="toInvoices();"><span class="arrow"><</span><span class="back">  BACK</span></div>
<div id="inv-receipt" class="inv-receipt"></div>
<div id="inv" class="inv">
	<div class="invoiced">
		<div class="bold title">OPEN</div>
		<div class="invoicedlist">
			{{#each invoices.open}}
				<div class="inv-invoice" onclick="showWithId({{this.invoiceId}},'{{this.from}}', '{{this.amount}}')"><span class="date">{{this.date}}</span><span class="from">{{this.from}}</span><span class="amount bold">{{this.amount}}</span></div>
			{{/each}}
		</div>
	</div>
	<div class="paid">
		<div class="bold title">PAID</div>
		<div class="paidlist">
			{{#each invoices.paid}}
				<div class="inv-invoice" onclick="showWithId({{this.invoiceId}}, '{{this.from}}', '{{this.amount}}')"><span class="date">{{this.date}}</span><span class="from">{{this.from}}</span><span class="amount colorgreen bold">{{this.amount}}</span></div>
			{{/each}}
		</div>
	</div>
</div>